<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix ">

	<!-- .footer start -->
	<!-- ================ -->
	<div class="footer">
		<div class="container">
			<div class="footer-inner">
				<div class="row">
					<div class="col-md-6">
						<div class="footer-content text-center padding-ver-clear">
							<div class="logo-footer"><img id="logo-footer" class="center-block" src="{{ site.baseurl }}images/logo_master_footer.png" alt="URJC Data Science">
							</div>
							<p>
								<img class="urjc-image-side" src="{{ site.baseurl }}images/urjc_logo_mini.png" alt="URJC" height="10%" >&nbsp;&nbsp; Universidad Rey Juan Carlos
								<br>
								<i class="text-default fa fa-map-marker pr-5"></i>ETSII, URJC. Tulipán s/n, 28933. Móstoles.
							</p>
						</div>
					</div>
					<div class="col-md-6 ">
						<div class="footer-content text-center padding-ver-clear">
							<ul class="list-icons mb-20">
								<li>
									<a href="tel:+34 91 488 7003" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5"></i>+34 91 488 7003</a>
									&nbsp;&nbsp;
									<a href="tel:+34 91 488 8125" class="link-dark">+34 91 488 8125</a>
								</li>
								<li>
									<a href="mailto:coordinacion@masterdatascience.es" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>coordinacion@masterdatascience.es</a>
								</li>
								<li>
									<a href="http://www.urjc.es" class="link-dark"><i class="text-default fa fa-globe pl-10 pr-5"></i>www.urjc.es</a>
								</li>
							</ul>
							<ul class="social-links circle animated-effect-1 margin-clear">
								<li class="twitter">
									<a target="_blank" href="http://www.twitter.com/URJCDataScience"><i class="fa fa-twitter"></i></a>
								</li>
								<li class="googleplus">
									<a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
								</li>
								<li class="linkedin">
									<a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
								</li>
							</ul>
							<div class="separator"></div>
							<p class="text-center margin-clear">
								Copyright © 2015 Máster en Data Science, ETSII, URJC. <a href="{{ site.baseurl }}creditos" class="link-dark">Créditos</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .footer end -->

</footer>
<!-- footer end -->

</div>
<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src="{{ site.baseurl }}plugins/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}bootstrap/js/bootstrap.min.js"></script>

<!-- Modernizr javascript -->
<script type="text/javascript" src="{{ site.baseurl }}plugins/modernizr.js"></script>

<!-- jQuery Revolution Slider  -->
<script type="text/javascript" src="{{ site.baseurl }}plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Isotope javascript -->
<script type="text/javascript" src="{{ site.baseurl }}plugins/isotope/isotope.pkgd.min.js"></script>

<!-- Magnific Popup javascript -->
<script type="text/javascript" src="{{ site.baseurl }}plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Appear javascript -->
<script type="text/javascript" src="{{ site.baseurl }}plugins/waypoints/jquery.waypoints.min.js"></script>

<!-- Parallax javascript -->
<script src="{{ site.baseurl }}plugins/jquery.parallax-1.1.3.js"></script>

<!-- Contact form -->
<script src="{{ site.baseurl }}plugins/jquery.validate.js"></script>


<!-- Google Maps javascript -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;signed_in=true"></script>
<script type="text/javascript" src="{{ site.baseurl }}js/google.map.config.js"></script>

<!-- SmoothScroll javascript -->
<script type="text/javascript" src="{{ site.baseurl }}plugins/jquery.browser.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}plugins/SmoothScroll.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="{{ site.baseurl }}js/template.js"></script>

