<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>URJC - Master en Data Science</title>
		<meta name="description" content="Titulo propio Master en Data Science, URJC.">
		<meta name="author" content="URJCDataScience">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="{{ site.url }}/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="{{ site.url }}/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Fontello CSS -->
		<link href="{{ site.url }}/fonts/fontello/css/fontello.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="{{ site.url }}/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="{{ site.url }}/plugins/rs-plugin/css/settings.css" rel="stylesheet">
		<link href="{{ site.url }}/css/animations.css" rel="stylesheet">

		<!-- the project core CSS file -->
		<link href="{{ site.url }}/css/style.css" rel="stylesheet" >

		<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
		<link href="{{ site.url }}/css/skins/orange.css" rel="stylesheet">

		<!-- Custom css -->
		<link href="{{ site.url }}/css/custom.css" rel="stylesheet">
	</head>
