<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle">
	<i class="icon-up-open-big"></i>
</div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">

	<!-- header-container start -->
	<div class="header-container">

		<!-- header start -->
		<!-- classes:  -->
		<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
		<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
		<!-- "full-width": mandatory class for the full-width menu layout -->
		<!-- "centered": mandatory class for the centered logo layout -->
		<!-- ================ -->
		<header class="header  fixed   clearfix">

			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">

							<!-- logo -->
							<div id="logo" class="logo">
								<a href="{{ site.url }}/"><img id="logo_img" src="{{ site.url }}/images/logo_master_navbar.png" alt="URJCDataScience"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-slogan">
								<img class="urjc-image" src="{{ site.url }}/images/urjc_logo_mini.png" alt="URJC" height="10%" > Universidad Rey Juan Carlos
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-9">

						<!-- header-right start -->
						<!-- ================ -->
						<div class="header-right clearfix">

							<!-- main-navigation start -->
							<!-- classes: -->
							<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
							<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
							<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
							<!-- ================ -->
							<div class="main-navigation  animated with-dropdown-buttons">

								<!-- navbar start -->
								<!-- ================ -->
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>

										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse" id="navbar-collapse-1">
											<!-- main-menu -->
											<ul class="nav navbar-nav ">
												<li class="active">
													<a href="{{ site.url }}/">Home</a>
												</li>
												<!-- Contenidos start -->
												<li class="dropdown ">
													<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contenidos</a>
													<ul class="dropdown-menu">
														<li>
															<a href="{{ site.url }}/contenidos">Plan de estudios</a>
														</li>
														<li>
															<a href="{{ site.url }}/empresas">Prácticas en Empresa</a>
														</li>
														<li>
															<a href="{{ site.url }}/proyecto">Trabajo Fin de Master</a>
														</li>
													</ul>
												</li>
												<!-- Contenidos end -->
												<!-- Equipo docente start -->
												<li >
													<a href="{{ site.url }}/equipo">Equipo docente</a>
												</li>
												<!-- Equipo docente end -->
												<!-- Información start -->
												<li class="dropdown ">
													<a href="#" class="dropdown-toggle" data-toggle="dropdown">Información</a>
													<ul class="dropdown-menu">
														<li>
															<a href="{{ site.url }}/informacion">Datos generales</a>
														</li>
														<li>
															<a href="{{ site.url }}/horarios_2021_2022">Horarios curso 2021-2022</a>
														</li>
														<li>
															<a href="{{ site.url }}/perfil_alumnos">Perfil del alumno</a>
														</li>
														<li>
															<a href="{{ site.url }}/recursos">Recursos</a>
														</li>
													</ul>
												</li>
												<!-- Información end -->
												<!-- Admisión start -->
												<li class="dropdown ">
													<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admisión</a>
													<ul class="dropdown-menu">
														<li>
															<a href="{{ site.url }}/admision">Proceso de Admisión</a>
														</li>
														<li>
															<a href="{{ site.url }}/preinscripcion">Preinscripción</a>
														</li>
														<li>
															<a href="{{ site.url }}/matricula">Matrícula</a>
														</li>
													</ul>
												</li>
												<!-- Admisión end -->
												<!-- Tablón de anuncios start-->
													<li class="active" class="hide">
														<a href="{{ site.url }}/">Tablón de anuncios</a>
													</li>
												<!-- Tablón de anuncios end-->
												<!-- Blog start -->
												<!-- <li class="dropdown ">
													<a href="blog-large-image-right-sidebar.html" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
													<ul class="dropdown-menu">
														<li >
															<a href="blog-timeline.html">Timeline</a>
														</li>
														<li >
															<a href="blog-post.html">Blog Post</a>
														</li>
													</ul>
												</li> -->
												<!-- Blog end -->
											</ul>
											<!-- main-menu end -->

											<!-- header buttons -->
											<div class="header-dropdown-buttons">
												<a href="mailto:coordinacion@masterdatascience.es" class="btn btn-sm hidden-xs btn-default">Contacto<i class="fa fa-envelope-o pl-5"></i></a>
												<a href="mailto:coordinacion@masterdatascience.es" class="btn btn-lg visible-xs btn-block btn-default">Contacto<i class="fa fa-envelope-o pl-5"></i></a>
											</div>
											<!-- header buttons end-->

										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->
						</div>
						<!-- header-right end -->

					</div>
				</div>
			</div>

		</header>
		<!-- header end -->
	</div>
	<!-- header-container end -->
