<h3>Información preinscripción y matrícula</h3>
<div class="separator-2"></div>

<ul class="list pl-20">
	<li>
		<i class="fa fa-map-marker pr-5"></i><strong>Títulos Propios y Formación Contínua</strong>
		<br>
		<span class="pl-20">Universidad Rey Juan Carlos</span>
		<br>
		<span class="pl-20"><i class="fa fa-phone pr-10"></i> (+34) 91 488 70 40 (hasta las 16h)</span>
	</li>
	<li>
		<i class="fa fa-download pr-5"></i>
		<a href="http://www.urjc.es/images/EstudiarURJC/Admision_matricula/titulos%20propios/Manual_Alumno_TTPP.pdf"> Instrucciones de solicitud de acceso a los títulos propios </a>
	</li>
	<li>
		<i class="fa fa-external-link pr-5"></i>
		<a href="http://www.urjc.es/estudiar-en-la-urjc/admision/276-titulos-propios-admision#preguntas-frecuentes">Preguntas frequentes Títulos Propios URJC</a>
	</li>
	<li>
		<i class="fa fa-phone pr-5"></i><strong>Coordinación del Máster</strong> (+34) 91 488 7003 &nbsp; (+34) 91 488 8125
	</li>
	<li>
		<i class="fa fa-envelope pr-5"></i><a href="mailto:coordinacion@masterdatascience.es">coordinacion@masterdatascience.es</a>
	</li>
</ul>