<!-- sidebar start -->
<!-- ================ -->
<aside class="col-md-3 ">
	<div class="sidebar">
		<div class="side vertical-divider-left">
			<!-- logo -->
			<div id="logo" class="logo">
				<a href="{{ site.url }}/"><img id="logo_img" src="{{ site.url }}/images/logo_master_sidebar.png" alt="URJCDataScience"></a>
			</div>

			<!-- name-and-slogan -->
			<div class="site-slogan-side">
				<img class="urjc-image-side" src="{{ site.url }}/images/urjc_logo_mini.png" alt="URJC" height="10%" >&nbsp;&nbsp; Universidad Rey Juan Carlos
			</div>

			<div class="separator-2 mt-20"></div>
			<ul class="list small">
				<li>
					<i class="fa fa-map-marker pr-10"></i>Escuela Tec. Sup. de Ing. Informática
					<br>
					<span class="pl-20">Universidad Rey Juan Carlos</span>
					<br>
					<span class="pl-20">Tulipán s/n. 28933.</span>
					<br>
					<span class="pl-20">Móstoles. Madrid.</span>
				</li>
				<li>
					<i class="fa fa-phone pr-10"></i>(+34) 91 488 7003 &nbsp; (+34) 91 488 8766
				</li>
				<li>
					<i class="fa fa-envelope pr-10"></i><a class="small" href="mailto:coordinacion@masterdatascience.es">coordinacion@masterdatascience.es</a>
				</li>
				<li>
					<i class="fa fa-twitter pr-10"></i><a class="small" href="http://www.twitter.com/URJCDataScience">@URJCDataScience</a>
				</li>
			</ul>
			<div class="separator-2 mt-20 "></div>

			<h5 class="mt-20">Campus de Móstoles</h5>
			<a class="btn btn-gray collapsed map-show btn-animated" data-toggle="collapse" href="#collapseMapMostoles" aria-expanded="false" aria-controls="collapseMap">Mostrar mapa <i class="fa fa-plus"></i></a>
			<!-- section map start -->
			<!-- ================ -->
			<section id="collapseMapMostoles">
				<div id="map-canvas-mostoles"></div>
			</section>
			<!-- section map end -->

			<h5>Campus de Madrid.<br>Sede Madrid-Argüelles</h5>
			<a class="btn btn-gray collapsed map-show btn-animated" data-toggle="collapse" href="#collapseMapMadrid" aria-expanded="false" aria-controls="collapseMap">Mostrar mapa <i class="fa fa-plus"></i></a>
			<!-- section map start -->
			<!-- ================ -->
			<section id="collapseMapMadrid">
				<div id="map-canvas-madrid"></div>
			</section>
			<!-- section map end -->
		</div>
	</div>

</aside>
<!-- sidebar end -->
