---
layout: page
title: Proceso de Admisión
parent_cat: Admisión
author: URJCDataScience
---

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="col-sd-6 col-md-6 col-lg-7">
				<h2>Proceso de Admisión</h2>
				<div class="separator-2"></div>
				<p>El proceso de admisión en el Máster en Data Science de la URJC se explica
				   en el siguiente diagrama. A continuación se ofrecen más detalles acerca de
				   cada fase dentro del proceso.</p>
				
				<div class="image-box style-3-b">
					<div class="row">
						<figure>
							<img class="img-responsive chart center-block" src="{{ site.baseurl }}images/admision_chart.png" alt="Diagrama admisión">
							<figcaption class="text-center small">Diagrama proceso de admisión al Máster en Data Science.</figcaption>
						</figure>
					</div>
				</div>
				
				<h4>Preinscripción - <small>22 junio - 17 julio 2015</small></h4>
				<div class="separator-2"></div>
				
				<p class="text-justify">
					El proceso de preinscripción permite a los futuros alumnos reservar una plaza para
					cursar la próxima edición del Máster. Es importante formalizar la reserva para 
					asegurar la participación, puesto que <strong>el número de plazas es limitado</strong>.
				</p>
				<ul class="list-icons">
					<li><i class="fa fa-chevron-right pr-10"></i>Número de plazas:
						<strong>30 alumnos máximo</strong>. 
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Reserva de plaza:
						<strong>500€</strong>. 
					</li>
				</ul>
				<a href="{{ site.baseurl }}preinscripcion" class="btn btn-default btn-animated">Preinsripción <i class="fa fa-sign-in"></i></a>
				
				<h4>Revisión de documentación</h4>
				<div class="separator-2"></div>
				<p class="text-justify">Una vez completada la preinscripción, se revisará la documentación
					aportada por los candidatos. Si se cumplen todos los <a href="{{ site.baseurl }}preinscripcion">requisitos</a>
					se informará de ello al alumno y se procederá a convocarle para realizar una <strong>entrevista personal</strong>
					durante los primeros días de septiembre de 2015.
				</p>
				<p class="text-justify">
					En caso contrario, se notificará al candidato de los requisitos no cumplidos y se procederá
					a la devolución del importe de su reserva de matrícula.
				</p>
				
				<h4>Entrevista personal</h4>
				<div class="separator-2"></div>
				<p class="text-justify">
					La <strong>entrevista personal</strong> permitirá al alumno conocer más detalles sobre el programa de Máster, el contenido
					de las diferentes asignaturas, así como describir sus conocimientos y experiencia previa. La entrevista se
					concertará <strong>durante los primeros días del mes de septiembre de 2015</strong>, y será realizada por profesores del equipo
					de dirección del programa.
				</p>
				 <p class="text-justify">
				 	Los <strong>criterios para la selección de alumnos</strong> serán:
				 </p>
				 	<ul class="list-icons">
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Expediente académico (40%).
				 		</li>
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Expediente profesional (20%).
				 		</li>
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Formación específica en disciplinas afines (10%).
				 		</li>
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Motivación, carta de recomedación y entrevista
				 			personal (30%).
				 		</li>
				 	</ul>
				<p class="text-justify">
					En caso de que el resultado de la entrevista no fuese satisfactorio, o no se superase
					el baremo mínimo de selección de alumnos para esa edición del Máster, se notificará al candidato
					y se procederá a la devolución del importe de su reserva de matrícula.
				</p>
				
				<h4>Notificación de admisión y matrícula - <small>7-18 de septiembre 2015</small></h4></h4>
				<div class="separator-2"></div>
				<p class="text-justify">
					Si se han cumplido satisfactoriamente todos los trámites anteriores, los candidatos podrán
					hacer efectiva su reserva de plaza y realizar la <a href="{{ site.baseurl }}matricula" >matrícula</a> 
					en el programa de Máster.
				</p>
				
				{% include registration_info.html %}
				
			<!-- Admision end -->
			</div>
			<!-- Datos generales main end -->
			
			<!-- Sidebar -->
			{% include sidebar.html %}			
		</div>
	</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<!--
<section class="section pv-40 background-img-3 dark-translucent-bg" style="background-position:50% 77%;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action text-center">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<h2 class="title">Join Us Now</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?
							</p>
							<div class="separator"></div>
							<form class="form-inline margin-clear">
								<div class="form-group has-feedback">
									<label class="sr-only" for="subscribe2">Email address</label>
									<input type="email" class="form-control" id="subscribe2" placeholder="Enter email" name="subscribe2" required="">
									<i class="fa fa-envelope form-control-feedback"></i>
								</div>
								<button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">
									Submit <i class="fa fa-send"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
-->
<!-- Section end -->