---
layout: page
title: Proceso de Admisión
parent_cat: Admisión
author: URJCDataScience
---

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="col-sd-6 col-md-6 col-lg-7">
				<h2>Proceso de Admisión</h2>
				<div class="separator-2"></div>
				<p>El proceso de admisión en el Máster en Data Science de la URJC se explica
				   en el siguiente diagrama. A continuación se ofrecen más detalles acerca de
				   cada fase dentro del proceso.</p>
				
				<div class="image-box style-3-b">
					<div class="row">
						<figure>
							<img class="img-responsive chart center-block" src="{{ site.baseurl }}images/admision_chart.png" alt="Diagrama admisión">
							<figcaption class="text-center small">Diagrama proceso de admisión al Máster en Data Science.</figcaption>
						</figure>
					</div>
				</div>
				
				<h4>Preinscripción - <small><strong>3 mayo - 15 junio 2017</strong></small></h4>
				<div class="separator-2"></div>
				
				<p class="text-justify">
					El proceso de preinscripción permite a los futuros alumnos reservar una plaza para
					cursar la próxima edición del Máster. Es importante <strong>formalizar la reserva para 
					asegurar la participación</strong>, ya que <strong>el número de plazas es limitado</strong>.
				</p>
				<ul class="list-icons">
					<li><i class="fa fa-chevron-right pr-10"></i>Núm. máx. de plazas:
						<strong class="text-danger">30 alumnos por grupo</strong>. 
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Reserva de plaza:
						<strong>500€</strong>. 
					</li>
				</ul>
				<a href="{{ site.baseurl }}preinscripcion" class="btn btn-default btn-animated">Preinsripción <i class="fa fa-sign-in"></i></a>
				
				<h4>Revisión de documentación</h4>
				<div class="separator-2"></div>
				<p class="text-justify">Una vez completada la preinscripción, se revisará la documentación
					aportada por los candidatos. Si se cumplen todos los <a href="{{ site.baseurl }}preinscripcion">requisitos</a>
					se informará de ello al alumno y se procederá a convocarle para realizar una <strong>entrevista personal</strong>.
				</p>
				<p class="text-justify">
					En caso contrario, se notificará al candidato de los requisitos no cumplidos y se procederá
					a la devolución del importe de su reserva de matrícula.
				</p>
				
				<h4>Entrevista personal - <small><strong>15 - 30 de junio de 2017</strong></small></h4>
				<div class="separator-2"></div>
				<p class="text-justify">
					La <strong>entrevista personal</strong> permitirá al alumno conocer más detalles sobre el programa de Máster, el contenido
					de las diferentes asignaturas, así como describir sus conocimientos y experiencia previa. La entrevista se
					concertará <strong>entre el 15 y el 30 de junio de 2017</strong> y la realizarán 
					profesores del equipo de dirección del programa del Máster.
				</p>
				 <p class="text-justify">
				 	Los <strong>criterios para la selección de alumnos</strong> serán:
				 </p>
				 	<ul class="list-icons">
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Expediente académico (40%).
				 		</li>
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Expediente profesional (20%).
				 		</li>
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Formación específica en disciplinas afines (10%).
				 		</li>
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Motivación, carta de recomedación y entrevista
				 			personal (30%).
				 		</li>
				 	</ul>
				<p class="text-justify">
					En caso de que el resultado de la entrevista no fuese satisfactorio, o de que se superase
					el cupo máximo de admisión de alumnos para esa edición del Máster, se notificará al candidato
					y se procederá a la devolución del importe de su reserva de matrícula.
				</p>
				
				<h4>Notificación de admisión - <small><strong>25 - 30 junio de 2017</strong></small></h4>
				<div class="separator-2"></div>
				<p class="text-justify">
					Si se han cumplido satisfactoriamente todos los trámites anteriores, se notificará de inmediato 
					a los candidatos para que puedan <strong>hacer efectiva su reserva de plaza</strong>.
				</p>
				
				<h4>Matrícula - <small><strong>3 - 15 de julio de 2017</strong></small></h4>
				<div class="separator-2"></div>
				<p class="text-justify">
					Los <strong>candidatos que han recibido la notificación positiva</strong> sobre su admisión podrán
					hacer efectiva su reserva de plaza y <a href="{{ site.baseurl }}matricula" >realizar la matrícula</a> 
					en el programa de Máster.
				</p>
				<p>
					<strong class="text-success">Pago fraccionado</strong>:
					Se puede <strong>fraccionar el pago de la matrícula hasta en 8 plazos</strong>.
					Consulta la información completa sobre el <a href="http://www.urjc.es/images/EstudiarURJC/Admision_matricula/titulos%20propios/pago_fraccionado.pdf"><i class="fa fa-download"></i> procedimiento de pago</a>.
				</p>
				
				{% include registration_info.html %}
				
			<!-- Admision end -->
			</div>
			<!-- Datos generales main end -->
			
			<!-- Sidebar -->
			{% include sidebar.html %}			
		</div>
	</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<!--
<section class="section pv-40 background-img-3 dark-translucent-bg" style="background-position:50% 77%;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action text-center">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<h2 class="title">Join Us Now</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?
							</p>
							<div class="separator"></div>
							<form class="form-inline margin-clear">
								<div class="form-group has-feedback">
									<label class="sr-only" for="subscribe2">Email address</label>
									<input type="email" class="form-control" id="subscribe2" placeholder="Enter email" name="subscribe2" required="">
									<i class="fa fa-envelope form-control-feedback"></i>
								</div>
								<button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">
									Submit <i class="fa fa-send"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
-->
<!-- Section end -->