---
layout: page
title: Matrícula
parent_cat: Admisión
author: URJCDataScience
---

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="col-sd-6 col-md-6 col-lg-7">
				<h2>Matrícula</h2>
				<div class="separator-2"></div>

				<div class="alert alert-info" role="alert">
					<i class="fa fa-info-circle fa-2x"></i> <span class="lead pl-20"><strong>Datos</strong></span>
				<ul class="list-icons pl-50">
					<li><i class="fa fa-chevron-right pr-10"></i>Título del programa:
						<strong>Máster en Data Science</strong>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Matrícula:
						<strong>5.000€</strong>. <strong class="text-success">Opciones de pago fraccionado</strong> <i class="fa fa-download"></i><a href="http://www.urjc.es/images/EstudiarURJC/Admision_matricula/titulos%20propios/pago_fraccionado.pdf"> Detalles</a>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Número máximo de plazas:
						<strong class="text-danger">30 alumnos</strong>
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Reserva de plaza:
						<strong>500€</strong> (a descontar del total de la matrícula).
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Plazo preinscripción curso 2016 - 2017:
						<strong class="text-danger">	3 mayo - 15 junio de 2017</strong>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Notificación de admisión:
						<strong class="text-danger">25 junio - 3 de julio de 2017</strong>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Plazo matrícula:
						<strong class="text-danger">6 - 21 de julio de 2017</strong>.
					</li>
				</ul>
				</div>

				<h3>Entrevista personal y notificación de admisión</h3>
				<div class="separator-2"></div>
				<p class="text-justify">
					Tras completar con éxito la <a href="{{ site.baseurl }}preinscripcion">preinscripcion y
					reserva de plaza</a>, los futuros alumnos serán convocados para mantener una <strong>entrevista
					personal entre el 16 y el 30 de junio de 2017</strong>, con uno de
					los miembros del equipo de dirección del Máster.
				 </p>
				 <p class="text-justify">
				 	El objetivo de esta entrevista es que alumno pueda, por una parte, explicar su formación,
				 	conocimientos y experiencia previa, así como las motivaciones que le llevan a inscribirse
				 	en el programa de Máster en Data Science. Además, la entrevista servirá también para que conozcan
				 	más detalles sobre los contenidos del programa, los profesores y la metodología docente.
				 </p>
				 <p class="text-justify">
				 	Los <strong>criterios para la selección de alumnos</strong> serán:
				 </p>
				 	<ul class="list-icons">
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Expediente académico (40%).
				 		</li>
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Expediente profesional (20%).
				 		</li>
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Formación específica en disciplinas afines (10%).
				 		</li>
				 		<li>
				 			<i class="fa fa-check-square-o"></i> Motivación, carta de recomedación y entrevista
				 			personal (30%).
				 		</li>
				 	</ul>

				 <p class="text-justify">
				 	El <strong>resultado de la entrevista</strong> se comunicará a los candidatos (<strong>25 junio - 3 de julio de 2017</strong>),
				 	con suficiente margen para <strong>realizar la matrícula</strong> (<strong>6 - 21 de julio de 2017</strong>).
				 	En caso de que el resultado de la entrevista no fuese satisfactorio o se superase
				 	el cupo máximo de admisión de alumnos para esa edición del Máster, se reembolsaría al candidato
				 	el importe correspondiente a su reserva de plaza.
				 </p>

				 <div class="alert  alert-icon alert-warning" role="alert">
					<i class="fa fa-warning"></i>
					<strong>Importante</strong>: Una vez que el alumno haya recibido la <strong>notificación oficial positiva de
					admisión</strong> en el programa de Máster en Data Science <strong>no será posible la devolución
					del importe de su reserva de plaza</strong> en caso de que el alumno finalmente no complete
					su matrícula.
				</div>

				 <h3>Matrícula en el programa</h3>
				 <div class="separator-2"></div>
				 <p class="text-justify">
				 	Una vez superadas las fases anteriores, el último paso del proceso de admisión es
				 	completar la <strong>matrícula por Internet</strong>. Se realiza mediante la aplicación
				 	disponible en la web de la URJC.
				 </p>
				 <!-- Botón matrícula URJC website -->
				 <a href="http://www.urjc.es/estudiar-en-la-urjc/admision/276-titulos-propios-admision#matr%C3%ADcula" class="btn btn-default btn-animated">Matrícula electrónica <i class="fa fa-sign-in"></i></a>
				 <!-- Instrucciones matriculación URJC website -->
				 <ul class="list pl-20">
				 	<li>
				 		<i class="fa fa-download pr-5"></i>
						<a href="http://www.urjc.es/images/EstudiarURJC/Admision_matricula/titulos%20propios/Instrucciones%20de%20Automatricula%20Titulos%20Propios%202014-15.pdf"> Instrucciones de automatrícula títulos propios URJC</a>
				 	</li>
				 	<li>
				 		<i class="fa fa-download pr-5"></i>
						<a href="http://www.urjc.es/images/EstudiarURJC/Admision_matricula/titulos%20propios/pago_fraccionado.pdf"> Procedimiento de pago </a>
				 	</li>
				</ul>

				{% include registration_info.html %}
			<!-- Matrícula end -->
			</div>
			<!-- Matrícula main end -->

			<!-- Sidebar -->
			{% include sidebar.html %}
		</div>
	</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<!--
<section class="section pv-40 background-img-3 dark-translucent-bg" style="background-position:50% 77%;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action text-center">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<h2 class="title">Join Us Now</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?
							</p>
							<div class="separator"></div>
							<form class="form-inline margin-clear">
								<div class="form-group has-feedback">
									<label class="sr-only" for="subscribe2">Email address</label>
									<input type="email" class="form-control" id="subscribe2" placeholder="Enter email" name="subscribe2" required="">
									<i class="fa fa-envelope form-control-feedback"></i>
								</div>
								<button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">
									Submit <i class="fa fa-send"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
-->
<!-- Section end -->
