---
layout: page_footer_no_banner
title: Preinscripción
parent_cat: Admisión
author: URJCDataScience
---

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="col-sd-6 col-md-6 col-lg-7">
				<h2>Preinscripción curso 2018-2019</h2>
				<div class="separator-2"></div>

				<div class="alert alert-info" role="alert">
					<i class="fa fa-info-circle fa-2x"></i> <span class="lead pl-20"><strong>Información</strong></span>
				<ul class="list-icons pl-50">
					<li><i class="fa fa-chevron-right pr-10"></i>Título del programa:
						<strong>Máster en Data Science</strong>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Matrícula:
						<strong>5.000€</strong>. <strong class="text-success">Opciones de pago fraccionado</strong> <i class="fa fa-download"></i><a href="http://www.urjc.es/images/EstudiarURJC/Admision_matricula/titulos%20propios/pago_fraccionado.pdf"> Detalles</a>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Número máximo de plazas:
						<strong class="text-danger">30 alumnos</strong> por grupo.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Reserva de plaza:
						<strong>500€</strong> (a descontar del total de la matrícula).
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Plazo preinscripción curso 2018 - 2019:
						<strong class="text-danger">25 de abril - 31 de mayo de 2018</strong>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Notificación de admisión:
						<strong class="text-danger">hasta el viernes 17 de junio de 2018</strong>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Plazo matrícula:
						<strong class="text-danger">18 - 28 de junio de 2018</strong>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Segundo plazo preinscripción curso 2018 - 2019
						(<strong>abierto</strong>):
						<strong class="text-danger">20 de junio - 10 de julio de 2018</strong>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Notificación de admisión (2º plazo):
						<strong class="text-danger">hasta el lunes 23 de julio de 2018</strong>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Plazo matrícula:
						<strong class="text-danger">24 - 31 de julio de 2018</strong>.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Curso Cero:
						<strong class="text-danger">15 - 19 de julio de 2018</strong>.
					</li>
				</ul>
				</div>

				<h3>Preinscripción por Internet</h3>
				<div class="separator-2"></div>

				<p class="text-justify">
					La <strong>solicitud de preinscripción</strong> se realizará, tanto en el primer plazo como en el
					segundo (caso de abrirse si quedan plazas libres), <strong class="text-danger">mediante la aplicación
					electrónica</strong> disponible en la página web de la URJC (sigue el enlace del botón a continuación y
					pulsa en el apartado "Preinscripción" para desplegar el <strong>enlace a la apliación</strong> y al
					<strong>documento de instrucciones</strong> del proceso).
				</p>
				<a href="http://www.urjc.es/estudiar-en-la-urjc/admision/276-titulos-propios-admision#preinscripci%C3%B3n" class="btn btn-default btn-animated">Preinsripción electrónica <i class="fa fa-sign-in"></i></a>

				<h3>Reserva de plaza y documentación</h3>
				<div class="separator-2"></div>
				<div class="alert  alert-icon alert-warning" role="alert">
					<i class="fa fa-warning"></i>
					<strong>Importante</strong>: <strong>Tras realizar la preinscripción</strong> por Internet, es necesario <strong>formalizar la
					reserva de plaza</strong>, siguiendo las instrucciones para <strong>abonar los 500 €</strong> por este concepto, y
					aportar la siguiente <strong>documentación obligatoria</strong>:
				</div>
				<ul class="list-icons pl-20">
					<li><i class="fa fa-chevron-right pr-10"></i>Una copia de la preinscripción realizada por Internet.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Fotocopia del DNI o pasaporte.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i><strong>Fotocopia compulsada</strong>
						(o fotocopia con el original
						para su cotejo) del <strong>título acreditativo</strong> de su
						<a href="{{ site.url }}/perfil_alumnos">nivel de estudios previos</a>.
						La compulsa se puede realizar directamente en el Registro de la URJC trayendo
						el documento original junto con la copia que se va a entregar.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>1 fotografía tamaño carnet.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Currículum vítae.
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Carta de motivación para estudiar en el máster (1 página)
					</li>
					<li><i class="fa fa-chevron-right pr-10"></i>Carta de recomendación (opcional).
					</li>
				</ul>

				<div class="alert  alert-icon alert-warning" role="alert">
					<i class="fa fa-warning"></i>
					<strong>Importante</strong>: Es <strong>imprescindible indicar</strong>, dentro de la <strong>carta
					de motivación</strong>, <strong>el grupo (sede Móstoles o sede Madrid) en el que el alumno
					desea ser incluido</strong>. De acuerdo con las plazas solicitadas y la disponibilidad de espacios,
					se notificará tras la realización de la entrevista personal si el alumno es aceptado o y en
					que grupo se inscribe inicialmente.
				</div>

				<p class="text-justify">
					Las solicitudes de admisión en un Título Propio deberán <strong>presentar obligatoriamente la
					documentación requerida en el Registro General de la Universidad Rey Juan Carlos</strong>, situado en
					el Campus de Móstoles, o en cualquiera de los Registros auxiliares de la Universidad, situados
					en los Campus de Alcorcón, Fuenlabrada y Vicálvaro. Se podrá <strong>entregar la documentación personalmente</strong>
					(presentando original y fotocopia), enviarla <strong>por correo certificado</strong> (enviando fotocopias compulsadas),
					o presentarla por cualquier otro de los procedimientos establecidos en el artículo 38 de la Ley
					de Régimen Jurídico de las Administraciones Públicas y del Procedimiento Administrativo Común.
				</p>

				<div class="alert alert-icon alert-info" role="alert">
					<i class="fa fa-info-circle"></i>
					<h4 class="margin-clear">Dirección Registro General Universidad Rey Juan Carlos</h4>
					<br>
					<strong>Universidad Rey Juan Carlos</strong>.
					<br>
					<strong>Registro General</strong>.
					<br>
					Campus de Móstoles.
					<br>
					Tulipán s/n. 28933.
					<br>
					Móstoles. Madrid.
				</div>

				{% include registration_info.html %}

			<!-- Preinscripción end -->
			</div>
			<!-- Preinscripción main end -->

			<!-- Sidebar -->
			{% include sidebar.html %}
		</div>
	</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<!--
<section class="section pv-40 background-img-3 dark-translucent-bg" style="background-position:50% 77%;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action text-center">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<h2 class="title">Join Us Now</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?
							</p>
							<div class="separator"></div>
							<form class="form-inline margin-clear">
								<div class="form-group has-feedback">
									<label class="sr-only" for="subscribe2">Email address</label>
									<input type="email" class="form-control" id="subscribe2" placeholder="Enter email" name="subscribe2" required="">
									<i class="fa fa-envelope form-control-feedback"></i>
								</div>
								<button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">
									Submit <i class="fa fa-send"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
-->
<!-- Section end -->
